/* Challenge 2: Use w3SchoolsMockUp.png to help you write the necessary CSS rules.
   Hint: Remember all the fundamental CSS rules when working with flexboxes */
html, body{
  height:100%;
  font-family:Arial;
  margin:0 auto;
}
a{
  text-decoration: none;
  background-color:green;
}
#banner{
  background-color: green;
  color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
#body{
  color: white;
  padding:50px;
}
#links{
  padding: 50px;
}
#footer{
  background-color: green;
  color:white;
  padding:20px;
}
.container{
  display: flex;
 }
.column{
  flex-direction: column;
}
.center{
  justify-content: center;
  align-items: center;
}
nav a{
  flex:1;
  text-align: center;
  padding: 10px;
  transition:0.5s;
}
nav a:hover{
  background-color:blue;
  color:white;
  transition:0.5s;
}
#main div{
  flex:1;
}
#example{
  align-items: center;
}
#leftpanel{
  flex: 150px 0 0;
  background-color:green;
  height:500px;
}
#centerpanel{
  flex: 3;
  background-color: green;
  height:500px;
}
#rightpanel{
  flex: 1;
  background-color: green;
  height:500px;
}